.attollo-right-click-menu-wrapper {
  position: relative;

  .attollo-right-click-menu {
    background-color: white;
    border: 1px solid black;
    min-width: 150px;
    z-index: 1000;

    p {
      margin: 0;
      padding: 5px;
      padding-left: 10px;

      &:hover {
        background-color: darkgray;
        color: white;
      }
    }
  }
}