@import '../../../node_modules/bootstrap/less/bootstrap.less';

@import "./Theme/Variables.less";
@import "./Theme/Bootswatch.less";

@import "./BootstrapOverrides/Modal.less";
@import "./BootstrapOverrides/Row.less";

@import "./Components/Header.less";
@import "./Components/Footer.less";
@import "./Components/Table.less";
@import "./Components/PageActionBar.less";
@import "./Components/BreadCrumbs.less";
@import "./Components/PageTitle.less";
@import "./Components/StyleEditorModal.less";

@import "./Pages/PageBuilder.less";

html {
    body {
        div#app-container {
            div.base-page-root {
                div.app-router {
                    div.page-row {
                        div.page-content {
                            height: 100%;
                        }
                        height: 100%;
                    }

                    background: #FCFCFC;
                    border-left: 1px solid #F0F0F0;
                    border-right: 1px solid #F0F0F0;
                    border-bottom: 1px solid #F0F0F0;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    margin-bottom: 20px;
                    height: calc(100% - 170px);
                }

                height: 100%;
                margin-bottom: 30px;
                margin-top: 50px;
            }
            height: 100%;
        }

        background: repeating-linear-gradient(
            -55deg,
            #F7F7F7,
            #F7F7F7 3px,
            #FFF 3px,
            #FFF 6px
        );
        height: 100%;
        margin: 0; /* bottom = footer height */
    }
    position: relative;
    min-height: 100%;
}