@import '../../../node_modules/bootstrap/less/bootstrap.less';

@import "./Theme/Variables.less";
@import "./Theme/Bootswatch.less";

@import "./BootstrapOverrides/Modal.less";
@import "./BootstrapOverrides/Row.less";

@import "./Components/Header.less";
@import "./Components/Footer.less";
@import "./Components/Table.less";
@import "./Components/PageActionBar.less";
@import "./Components/BreadCrumbs.less";
@import "./Components/PageTitle.less";

@import "./Pages/PageBuilder.less";

html {
    body {
        div#app-container {
            div.base-page-root {
                div.app-router {
                    div.page-row {
                        div.page-content {
                            height: 100%;
                        }
                        height: 100%;
                    }
                    height: calc(100% - 170px);
                }
                height: 100%;
                
                margin-bottom: 30px;
            }
            height: 100%;
        }
        height: 100%;

        margin: 0; /* bottom = footer height */
    }
    position: relative;
    min-height: 100%;
}