.page-builder-page-root {
    .block-def-node {
        border: 1px solid #666;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 10px;
        background-color: lightgray;
        color: #777;
        cursor: pointer;

        &:hover {
            border: 1px solid #111;
            color: #111;
            background-color: gray;
        }
    }
    .block-container-def-node {
        border: 1px solid #666;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 10px;
        background-color: lightgray;
        color: #777;
        cursor: pointer;

        &:hover {
            border: 1px solid #111;
            color: #111;
            background-color: gray;
        }
    }
}