.page-builder-page-root {
    .block-def-node {
        border: 1px solid #666;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 10px;
        background-color: #f0f0f0;
        color: #777;
        cursor: pointer;
        text-align: center;

        &:hover {
            border: 1px solid #111;
            color: #111;
            background-color: lightgray;
        }
    }
    .block-container-def-node {
        border: 1px solid #666;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 10px;
        background-color: #f0f0f0;
        color: #777;
        cursor: pointer;
        text-align: center;

        &:hover {
            border: 1px solid #111;
            color: #111;
            background-color: lightgray;
        }
    }
    .block-container-node {
        .block-container-node-header {
            .block-container-controls {
                padding-right: 10px;
            }

            padding: 5px;
            padding-bottom: 20px;
            border-bottom: 1px solid black;
        }

        border: 1px solid #666;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        background-color: #f0f0f0;
        cursor: pointer;
        color: #777;
    }
    .block-container-def-target {
        border: 1px dashed #777;
        color: #777;
        text-align: center;
        font-size: 200%;
        height: 100px;
        padding-top: 25px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .block-empty-node {
        border: 1px dashed #777;
        text-align: center;
    }

    .block-node {
        .block-node-title {
            display: inline-block;
            text-align: center;
        }
    }
}
//temp... We need to replace this text area with a gui editor.
textarea#blockTemplate {
    height: 200px;
}